* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f8f6;
}

a {
  text-decoration: none;
}

a:hover {
  color: #d6bfa9;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.5rem;
}
